@use "sass:math";
@use "../global" as *;
.p-career {
  background-color: #fff;
  margin-top: 130px;
  padding: 95px 0 100px;
  @include mq(tb) {
    margin-top: 0;
  }
  @include mq(sp2) {
    padding: 34px 0 80px;
  }
  &__ttl {
    padding-bottom: 95px;
    @include mq(sp2) {
      padding-bottom: 70px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 110px;
    padding: 0 150px;
    position: relative;
    @include mq(tb) {
      padding: 0 50px;
    }
    @include mq(sp2) {
      padding: 0 8%;
      gap: 40px;
    }
  }
  &__list-item {
    display: flex;
    gap: 10em;
    @include mq(sp2) {
      gap: 6em;
    }
    @include mq(sp2) {
      gap: 3em;
    }
  }
  &__item-time {
    width: 100%;
    max-width: 80px;
  }
}
