@use "sass:math";
@use "../global" as *;
.p-strength {
  &__ttl {
    padding: 173px 0 130px;
    @include mq(tb) {
      padding: 130px 0;
    }
    @include mq(sp2) {
      padding: 40px 0 50px;
    }
  }
  &__grid-cnt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 395px auto auto auto;
    justify-items: center;
    padding: 0 80px;
    gap: 50px;
    @include mq(pc2) {
      grid-template-rows: 365px auto auto auto;
      padding: 0 10px;
      gap: 10px;
    }
    @include mq(tb2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-template-rows: 395px auto auto auto;
    }
  }
  &__img {
    max-width: 301px;
    margin: 0 auto;
    padding: 51px 0 30px 0;
    @include mq(pc2) {
      max-width: 250px;
    }
    @include mq(sp) {
      max-width: 226px;
    }
  }
  &__grid-ttl-block {
    border-radius: 10px;
    background: #fff;
    width: 365px;
    text-align: center;
    transform: translateY(20px);
    opacity: 0;
    @include mq(pc2) {
      width: 315px;
    }
    @include mq(tb2) {
      width: 365px;
    }
    @include mq(sp) {
      max-width: 275px;
    }
    &.--strength1 {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &.--strength2 {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    &.--strength3 {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }
  &__grid-ttl {
    font-size: 3rem;
    @include mq(sp) {
      font-size: 2rem;
    }
  }
  &__grid-ttl-ja {
    font-weight: 300;
    font-size: 2rem;
    color: #999999;
    padding: 25px 0 75px 0;
    @include mq(sp) {
      font-size: 1.3rem;
      padding: 10px 0 50px 0;
    }
  }
  &__grid-dsc-ttl {
    font-size: 3.5rem;
    font-weight: 700;
  }
  &__grid-dsc-cnt {
    align-items: center;
    padding-top: 70px;
    @include mq(tb2) {
      padding-top: unset;
    }
    &.--strength1 {
      grid-column: 1/4;
      grid-row: 2/3;
    }
    &.--strength2 {
      grid-column: 1/4;
      grid-row: 3/4;
    }
    &.--strength3 {
      grid-column: 1/4;
      grid-row: 4/5;
    }
  }
  &__grid-dsc-ttl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.--strength1 {
      color: #88d763;
    }
    &.--strength2 {
      color: #ee9ca7;
    }
    &.--strength3 {
      color: #fdc830;
    }
  }
  &__dsc-ttl-box {
    position: relative;
    background-color: #fff;
    max-width: 365px;
    // ここはheight指定可能か？
    height: 72px;
    border-radius: 10px;
  }
  &__grid-dsc {
    padding: 35px 10px 0 20px;
    @include mq(tb) {
      padding: 35px 50px 100px;
    }
    @include mq(sp2) {
      padding: 3% 3% 100px 3%;
    }
    @include mq(sp) {
      padding-bottom: 50px;
    }
  }
}
