@use "sass:math";
@use "../global" as *;
.modaal-gallery-item {
  .item & {
    &.is_active {
      width: 80vmin !important;
    }
  }
}
.modaal-gallery-item {
  img {
    width: 100% !important;
  }
}
.modaal-gallery-item-wrap {
  width: 80vmin !important;
  height: 80vmin !important;
}
