// colors
$color-black: #333333;
$color-white: #ffffff;
$color-grey: #dbdbdb;
$color-yellow: #faff03;

$color-temp1: rgba(255, 0, 0, 0.3);
$color-temp2: rgba(0, 255, 0, 0.3);
$color-temp3: rgba(0, 0, 255, 0.3);

// max width setting
$max-width-pc: 1280;

// contents padding settings
$contents-padding-pc: 50;
$contents-padding-sp: 20;
